.bgc{
background-color: aqua;
	padding: 10px 0px;
	min-height: 50px;
	margin-bottom: 10px;
}
.h_c{
	min-height: 500px;
	background-color: yellow;
}
img
{
	height: 300px;
	width: 500px;

}
.i
{
	border: 1px solid;
}